<%- include('../partials/header') %>

<section class="add-animal">
    <form action="/animals" method="POST">
        <img class="icon-new" src="https://image.flaticon.com/icons/svg/1527/1527246.svg" alt="Anilog"><br><br>
        <label>Name:</label>
        <input type="text" name="name"><br><br>
        <label>Image Link:</label>
        <input type="text" name="img"><br><br>
        <label>Scientific Name:</label>
        <input type="text" name="species"><br><br>
        <label>Feeding Behaviors:</label>
        <select name="eat">
            <option value="Herbivore">Herbivore</option>
            <option value="Omnivore">Omnivore</option>
            <option value="Carnivore">Carnivore</option>
            <option value="Detrivore">Detrivore</option>
            <option value="Insectivore">Insectivore</option>
        </select><br><br>
        <label>Tool Use:</label>
        <input type="checkbox" name="toolUse" checked><br><br>
        <label>Ecosystem:</label>
        <select name="ecosystem">
            <option value="Terrestrial">Terrestrial</option>
            <option value="Forest">Forest</option>
            <option value="Grassland">Grassland</option>
            <option value="Desert">Desert</option>
            <option value="Tundra">Tundra</option>
            <option value="Freshwater">Freshwater</option>
            <option value="Marine">Marine</option>
            <option value="Other">Other</option>
        </select><br><br>
        <label>Life Span:</label>
        <input type="text" name="lifeSpan"><br><br>
        <label>Conservation Status</label>
        <select name="conservationStatus">
            <option value="Extinct in the wild">Extinct in the wild</option>
            <option value="Critically endangered ">Critically endangered</option>
            <option value="Endangered">Endangered</option>
            <option value="Vulnerable">Vulnerable</option>
            <option value="Near threatened">Near threatened</option>
            <option value="Least concern">Least concern</option>
            <option value="Data deficient">Data deficient</option>
            <option value="Not evaluated">Not evaluated</option>
        </select><br><br>
        <input class="login" type="submit" value="Add Animal">
    </form>
</section>

</body>

</html>