<%- include('../partials/header') %>

<form action="/animals" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <!-- <label>Image:</label>
    <input type="text" id="img" name="img"> -->
    <label>Species:</label>
    <input type="text" name="species">
    <label>Feeding Behaviors:</label>
    <select name="eat">
        <option value="Herbivore">Herbivore</option>
        <option value="Omnivore">Omnivore</option>
        <option value="Carnivore">Carnivore</option>
        <option value="Detrivore">Detrivore</option>
    </select>
    <!-- get the checkbox to work for tool use -->
    <label>Tool Use:</label>
    <input type="checkbox" name="toolUse" checked>
    <label>Ecosystem:</label>
    <select name="ecosystem">
        <option value="Terrestrial">Terrestrial</option>
        <option value="Forest">Forest</option>
        <option value="Grassland">Grassland</option>
        <option value="Desert">Desert</option>
        <option value="Tundra">Tundra</option>
        <option value="Freshwater">Freshwater</option>
        <option value="Marine">Marine</option>
        <option value="Other">Other</option>
    </select>
    <label>Life Span:</label>
    <input type="text" name="lifeSpan">
    <label>Conservation Status</label>
    <select name="conservationStatus">
        <option value="Extinct in the wild">Extinct in the wild</option>
        <option value="Critically endangered ">Critically endangered</option>
        <option value="Endangered">Endangered</option>
        <option value="Vulnerable">Vulnerable</option>
        <option value="Near threatened">Near threatened</option>
        <option value="Least concern">Least concern</option>
        <option value="Data deficient">Data deficient</option>
        <option value="Not evaluated">Not evaluated</option>
    </select>
    <input type="submit" value="Add Animal">
</form>
<a href="/animals">Home</a>
</body>

</html>