<!DOCTYPE html>
<html class="loginPage">

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container-login">
    <div>
      <h1 class="anilog"><img class="icon-main" src="https://image.flaticon.com/icons/svg/1527/1527246.svg"
          alt="Anilog"><br><u>Anilog</u></h1>
      <h3>Your Digital Fieldbook</h3>
      <!-- <p class="login"><% if (user) { %>
            <a href="/logout">Log Out</a>
            <% } else { %>
            <a href="/auth/google">Login with&nbsp;&nbsp;<img class="google" src="https://image.flaticon.com/icons/svg/2702/2702602.svg">&nbsp;&nbsp;Google</a>
            <% } %></p> -->
      <p class="login"><% if (user) { %>
        <a href="/logout">Log Out</a>
        <% } else { %>
        <a href="/auth/google">Login with&nbsp;&nbsp;<img class="google"
            src="https://image.flaticon.com/icons/svg/2702/2702602.svg">&nbsp;&nbsp;Google</button>
        <% } %></p></a>
    </div>
  </div>
  <div class="container-HIW">
    <h2><u>How It Works</u></h2>
    <div><img class="icon" src="https://image.flaticon.com/icons/svg/2802/2802806.svg" alt="Add"><br>Add animals to
      share amongst other naturalists</div><br>
    <div><img class="icon" src="https://image.flaticon.com/icons/svg/751/751463.svg" alt="Add"><br>Record your
      observations and findings</div><br>
    <div><img class="icon" src="https://image.flaticon.com/icons/svg/546/546055.svg" alt="Add"><br>Track the animals
      you've encountered</div>
  </div>

</body>

</html>

<!-- <p><% if (user) { %>
  <a href="/logout">Log Out</a>
  <% } else { %>
  <a href="/auth/google">Login with Google</a>
  <% } %></p> -->

<!-- <p><% if (user) { %>
        </a>Log Out
        <% } else { %>
        <button class="login"><a href="/logout"></a><a href="/auth/google"></a>Login with&nbsp;&nbsp;<img class="google"
            src="https://image.flaticon.com/icons/svg/2702/2702602.svg">&nbsp;&nbsp;Google</button>
        <% } %></p> -->