body {
  padding: 50px;
  font: 14px;
  font-family: 'Julius Sans One', sans-serif;;
  display: block;
}

.loginPage {
  background-image: url("https://images.pexels.com/photos/861339/pexels-photo-861339.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-size:100% 100%;
}

.insideWeb {
  background-color: whitesmoke;
}

.title {
  color: black;
  text-align: center;
  padding-top: 5%;
}

.animalName {
  font-size: larger;
  font-weight: bold;
}

.userName {
  font-size: smaller;
}

.img {
  height: 50%;
  width: 50%;
  margin: 0 auto;
}

.navbar-fixed {
  overflow: hidden;
  background-color: rgba(51, 51, 51, .8);
}

.navbar-fixed a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-fixed a:hover {
  background-color: #ddd;
  color: black;
}

.navbar-fixed a.active {
  background-color: #4CAF50;
  color: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.04);
  border-top-color: grey;
  transition: all .3s ease-in-out;
}

.container {
  padding: 2px 16px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  size: large;
  border-radius: 5%;
}

.column {
  float: left;
  width: 25%;
} 

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.container-login {
  margin: 50px auto;
  width: 400px;
  text-align: center;
  padding: 20px 20px 20px;
}

.container-HIW {
  margin: 50px auto;
  width: 400px;
  text-align: center;
  border: 4px solid black;
  border-radius: 10%;
  background-color: white;
  padding: 20px 20px 20px;
}

.container-HIW:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.04);
  border-top-color: grey;
  transition: all .3s ease-in-out;
}

.login {
	background-color: rgba(117, 173, 2);
	border-radius:28px;
	border:1.5px solid black;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}

.login:hover {
  background-color:#2f6627;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.04);
  border-top-color: grey;
  transition: all .3s ease-in-out;
}
.login:active {
	position:relative;
	top:1px;
}

.icon {
  height: 40px;
  width: 40px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 7px;
}

.icon-main {
  height: 60px;
  width: 60px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 7px;
}

.icon-new {
  height: 70px;
  width: 70px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 8px;
}

.icon:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.04);
  border-top-color: grey;
  transition: all .3s ease-in-out;
}

.google {
  height: 20px;
  width: 20px;
}

.add-animal {
  border: 2px black solid;
  padding: 10%;
  margin: 10%;
  text-align: center;
  border-radius: 5%;
}